@media (min-width:768px) and (max-width:992px) {
    html {
        font-size: 33.06px;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    html {
        font-size: 42.71px;
    }
}

@media (min-width:1200px) and (max-width:1920px) {
    html {
        font-size: 62.5px;
    }
}

@media (min-width:1920px) and (max-width:2560px) {
    html {
        font-size: 100px;
    }
}

@media (min-width:2560px) {
    html {
        font-size: 133px;
    }
}

body {
    color: #000;
}

body,
div,
p,
a,
ul,
li,
span,
img,
input,
select,
textarea,
button,
body:hover,
div:hover,
p:hover,
a:hover,
ul:hover,
li:hover,
span:hover,
img:hover,
input:hover,
select:hover,
textarea:hover,
button:hover,
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: none;
}

.circle {
    position: fixed;
    /* position: absolute; */
    top: -1.15rem;
    left: -1.15rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #000;
    z-index: 10000;
    pointer-events: none;
    /* -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; */
    mix-blend-mode: difference;
}

.circle.circle-footer {
    border: 1px solid #fff;
}

.tooltip-inner {
    background-color: #fff;
    border: 1px solid #000;
    color: black;
}

.footer-icon .tooltip.top .tooltip-arrow {
    border-top-color: #fff;
}

.modal-icon .tooltip.top .tooltip-arrow {
    border-top-color: #000;
}

.qrcode {
    width: 100px;
    height: 100px;
}

#dropdownMenu1 {
    /* padding: 0.1rem 0; */
}

ul {
    margin: 0;
    padding: 0;
}

.container-myself {
    width: 100%;
    overflow: hidden;
    padding: 0 0.6rem;
}

.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
    position: relative;
    height: 1.4rem;
}

.header .left {
    display: flex;
    /* height: 0.62rem; */
    align-items: center;
}

.header .left img {
    width: 0.98rem;
    height: 0.18rem;
}

.header .left .dropdown {
    margin-left: 0.22rem;
    display: flex;
    align-items: center;
}

.left .dropdown .language {
    font-size: 0.2rem;
    font-family: 'futura_medium';
    border-bottom: 0.02rem solid #000;
}

.header .middle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    top: -1rem;
}

.header .middle img {
    width: 1.4rem;
    height: 0.62rem;
    display: block;
}

.right {
    width: 2.06rem;
    /* float: right;
    text-align: right; */
}

.right .divide {
    width: 0.44rem;
    height: 0.02rem;
    display: inline-block;
    text-align: right;
    background-color: #000;
    /* background: url('./img/line.png') no-repeat;
    background-size: cover; */
}

.right .none {
    height: 0;
    display: none;
}

.right ul {
    margin-top: 0.12rem;
}

.right ul li {
    font-family: 'futura_medium';
    font-size: 0.2rem;
    color: #000;
}

.footer {
    overflow: hidden;
    padding: 0.6rem;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
}

.footer .footer-left {
    font-family: 'futura';
    font-size: 0.46rem;
    font-weight: bold;
}

.footer .footer-left .title {
    color: #fff;
}

.footer .footer-left .subtitle {
    color: #000;
    text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    margin-top: -0.3rem;
}

.footer .space {
    height: 0.6rem;
}

.footer .email {
    font-size: 0.4rem;
    color: #fff;
    font-family: 'futura_medium';
    border-bottom: 0.02rem solid #fff;
    display: inline-block;
}

.footer .name {
    font-size: 0.22rem;
    color: #999;
    font-family: 'futura_condensed';
    margin-top: 0.2rem;
}

.footer .copy-right {
    font-size: 0.22rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.footer .footer-icon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer .footer-icon li {
    margin: 0 0.2rem;
}

.footer .footer-icon li span {
    display: inline-block;
    width: auto;
    font-size: 0.6rem;
    color: #999;
    margin: 0 0.2rem;
}

.detail-content {
    width: 100%;
    /* height: 1200px; */
    /* border: 1px solid red; */
    margin-top: 0.8rem;
    padding: 0 0.6rem
}

.detail-content .title {
    height: 0.89rem;
    font-size: 0.46rem;
    font-family: Futura;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: 0.8rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'futura_bold';
}

.detail-content .title:nth-child(2) {
    margin-top: -0.3rem;
    margin-bottom: 1rem;
}

.detail-content .detail-img {
    width: 100%;
}

.detail-content .detail-img .img .top {
    width: 100%;
    /* height: 540px; */
    background: rgba(250, 250, 250, 1);
    padding: 1.10rem 0.6rem;
    border-right: 0.01px solid #000;
}

.detail-content .detail-img .img .top img {
    width: 100%;
}

.detail-content .detail-img .img .bottom {
    font-size: 0.16rem;
    font-family: 'fatura';
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 0.004rem 0;
    border-right: 0.01rem solid #000;
    height: 1.24rem;
}

.detail-content .detail-img .img .spec {
    border: none
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding: 0
}

.row {
    margin: 0;
}

.case-list {
    display: flex;
    flex-wrap: wrap;
}

.case-list .cell {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.case-list .cell:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.case-list .cell:nth-child(5) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.case-list .cell img {
    width: 88%;
    margin: 1.10rem auto;
}

.case-list .cell p {
    font-size: 0.2rem;
    font-family: 'futura_condensed';
    color: rgba(0, 0, 0, 1);
    margin-top: 0.6rrem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .circle {
        display: none;
    }
    .header .middle {
        font-size: 1.4rem;
        top: -0.8rem;
    }
    .case-list {
        display: flex;
        flex-direction: column;
    }
    .case-list .cell:nth-child(1),
    .case-list .cell:nth-child(2),
    .case-list .cell:nth-child(3),
    .case-list .cell:nth-child(4),
    .case-list .cell:nth-child(5),
    .case-list .cell:nth-child(6) {
        width: 100%;
        border: none;
    }
    .case-list .cell img {
        width: 5.54rem;
        height: 3.62rem;
    }
    .case-list .cell p {
        font-size: 0.25rem;
    }
    /* .footer {
        overflow: hidden;
        padding: 0.6rem;
        background: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .footer .footer-icon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: -0.8rem;
        margin-top: 0.1rem;
    } */
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .footer-icon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0.5rem;
    }
    .footer .footer-icon li,
    .footer .footer-icon li span {
        margin: 0;
    }
    .footer .footer-icon li {
        margin-right: 0.4rem;
    }
    .footer .footer-icon li span {
        color: #fff;
    }
}